<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637701141729-c05p3l0tj7vukm939uvrej4088klagiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637701141729-c05p3l0tj7vukm939uvrej4088klagiv</string>
	<key>API_KEY</key>
	<string>AIzaSyBgFaTrsv7A71yz9vKpXv4_UkItMho8u5A</string>
	<key>GCM_SENDER_ID</key>
	<string>637701141729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phantomapps.walley</string>
	<key>PROJECT_ID</key>
	<string>live-wallpapers-and-hd-t-f1239</string>
	<key>STORAGE_BUCKET</key>
	<string>live-wallpapers-and-hd-t-f1239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637701141729:ios:45f49b41a2d6162524b3a0</string>
	<key>DATABASE_URL</key>
	<string>https://live-wallpapers-and-hd-t-f1239.firebaseio.com</string>
</dict>
</plist>